flake8
flake8-bugbear
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-docstrings
flake8-variables-names
pep8-naming
flake8-import-order
rope
jedi
ipython
numpy
pandas
jupyter
jupytext
black
python-language-server[rope]
python-language-server[pyflakes]
pylint
